extends layout

block content
  p #{name} welcome || 
    a(href="/logout") logout
  h1 Choose menu
  ul
    li 
        a(href="/account/income")   입금 내역 입력
    li  
        a(href="/account/outcome")  출금 내역 입력
    li 
        a(href="/account/list/1/calen/1") 거래내역
    li
        a(href="/account/detail") 거래 분석
  h3 잔액 : #{balance} 원