extends layout

block content
  p #{name} welcome || 
    a(href="/logout") logout
  h1=title
  ul
    li 
        a(href="/account/detail/income")   입금 내역 분석
    li  
        a(href="/account/detail/outcome")  출금 내역 분석
