extends layout

block content
  p #{name} welcome || 
    a(href="/logout") logout
  h1=title
  form(action="/account/outcome/process" method="post")
    p
        input(type="text" name="title" placeholder="Type title")
    p
        input(type="text" name="target" placeholder="Type target")
    p
        input(type="text" name="price" placeholder="Type price")
    p   
        input(type="text" name="date" id="datepicker" placeholder="Choose date")
    p
        input(type="submit")